:root{
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;

    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-1600: 128px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--stone-100);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-preset-1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 100%;
    color: var(--stone-900);
}

.text-preset-2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 100%;
    color: var(--brown-800);
}

.text-preset-3{
    font-family: "Outfit", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 100%;
    color: var(--rose-800);
}

.text-preset-4{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 150%;
    color: var(--stone-600);
}

.text-preset-4-bold{
    font-family: "Outfit", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 150%;
    color: var(--stone-600);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
}

.top-image{
    max-width: 100%;
}

.text-content{
    margin-top: var(--spacing-500);
    padding: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.section-titles {
  margin-bottom: var(--spacing-300);
}

.preparation{
    background-color: var(--rose-50);
    padding: var(--spacing-300);
    border-radius: var(--spacing-150);
}

.preparation h3{
    margin-bottom: var(--spacing-200);
}

.preparation ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-inline-start: var(--spacing-300);
}

.preparation li{
    text-indent: var(--spacing-150);
}

.preparation li::marker{
    color: var(--rose-800);
}

.ingredients ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-inline-start: var(--spacing-300);
}

.ingredients li{
    text-indent: var(--spacing-150);
}

.ingredients li::marker{
    color: var(--brown-800);
}

.instructions ol{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-inline-start: var(--spacing-300);
}

.instructions li{
    text-indent: var(--spacing-150);
}

.instructions li::marker{
    color: var(--brown-800);
}

.table{
 display: flex;
 flex-direction: column;
}

.table-row{
    display: flex;
    padding: 0 var(--spacing-400);
    gap: var(--spacing-200);
    padding: var(--spacing-150) 0;
}

.line{
    border-bottom: 2px solid var(--stone-150);
}

.table div p{
    flex: 1;
    padding: 0 var(--spacing-400);
    margin: 0;
}

.table .text-preset-4-bold{
    color: var(--brown-800);
}

@media (min-width: 768px){
    .card{
        max-width: 616px;
        margin: 128px 48px;
        padding: var(--spacing-500);
        border-radius: var(--spacing-400);
    }

    .top-image{
        border-radius: var(--spacing-150);
    }

    .text-content{
        margin-top: var(--spacing-500);
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-400);
    }
}

@media (min-width: 1440px){
    .card{
        max-width: 736px;
    }
}